<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>


      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class = "search_form">
        <%= render "shared/search_form" %>
      </section>


    </aside>
    <div class="col-md-8">
      <h3>Haiku feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="jumbotron text-center" id="jumbotron">
  <div class="row">

    <div class="col-md-6" id="titlebox">
    	<h1>Haiku Review</h1>
    	<h2>Watch movies, write Haiku!</h2>

    	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: "signupbutton" %>
    </div>

    <div class="col-md-6">
      <%= image_tag("Geisha.png", class: "character") %>

    </div>

	 
  </div>

</div>

<div class="row">
    <aside class="col-md-4">
      
      <section class="user_info">
        <p>Use the search box below to find a movie,<br> then write a review in the form of a HAIKU </p>
      </section>



      <div class = "search_form">
        <%= render 'shared/search_form' %>
      </div>


    </aside>
    <div class="col-md-8">
      <h3>Recent Haiku</h3>
        <%= will_paginate @microposts %>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
        <%= will_paginate @microposts %>
    </div>
</div>


<% end %>

