<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>


      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <div class = "searchform">
        <%= form_tag searches_path, :method => 'get' do %>
            <%= text_field_tag :movie, params[:movie] %>
            <%= submit_tag "Search", class: "btn btn-primary shrink", :name => nil %>
        <% end %>
      
      </div>


    </aside>
    <div class="col-md-8">
      <h3>Post feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="jumbotron text-center">

	<h1>Welcome!</h1>
	<h2>This is the homepage for a twitter clone</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	

</div>

<% end %>

