<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>

	<%= f.text_area :title, placeholder: "title", value: @title %>

	<%= f.text_area :picture, placeholder: "picture", value: @picture %>

	<%= f.text_area :year, placeholder: "year", value: @year %>

	<%= f.text_area :movie_ref, placeholder: "movie_ref", value: @movie_ref %>

  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>