<div class="row">
		<div class="col-md-12">


		<h1>Movie Search</h1>

		<% if @movie['movies'].nil? %>

		<%= form_tag searches_path, :method => 'get' do %>
		    <div class="search btn"><%= text_field_tag :movie, params[:movie] %></div>
		    <%= submit_tag "Search", class: "btn btn-primary search-button ", :name => nil %>
		<% end %>

		<% else %>


		<% @movie['movies'].each do |movie| %>

			

			<div class = "haikus movies">

			<li>
				<img src=<%= movie['posters']['detailed']%> class="moviethumbnail"></img>
				<div class = "movietitle h3">
					<% title = movie['title'] %>
					<% year = movie['year']%>	
					<% params[:id] = movie['id'] %>
					<%= link_to movie['title'], search_path(params[:id], :title => title, :year => year, :picture => movie['posters']['original']) %> <br><%= year %>
					
					

				</div>
				<div class = "movietitle">	
				<%= movie['synopsis'] %>
				</div>
				<div class = "clearfix"></div>
			</li>
		</div>
		<% end %>
		<% end %>
</div>
</div>

