

	<div class="row">
		<aside class="col-md-4">

			<% if logged_in? %>

				<section>
					<%= render 'shared/user_info' %> 
				</section>

		    	<section>
					<%= render 'shared/micropost_form' %>
				</section>
			
			<% else %>


				<section id="please_log_in">
					<h4>Please <%= link_to "log in",login_path %> or <%= link_to "sign up", new_user_path %> to post a haiku review for this movie</h4>
				</section>

			<% end %>

		</aside>

	



		<div class="col-md-8">

			<div class="movietitle h3"><%= @title %>,  <%= @year %></div>


			<!-- this displays the microposts for the shown movie -->
			<div class="microposts">

					<%= render @microposts %>

			</div>









		
		</div>
	</div>
